gauge.json
[{"id":"54c8d8de.ac2cc8","type":"tab","label":"Flow 13","disabled":false,"info":""},{"id":"9ade4b7.ea1fbb8","type":"http request","z":"54c8d8de.ac2cc8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://script.google.com/macros/s/AKfycby7aVfU7x5UTEyXxprzE5YDombW5tSL5vLLSlaaLOl8u1bMkpw/exec","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":180,"wires":[["c6364989.8fe158"]]},{"id":"e7af513f.01a8d","type":"ui_text_input","z":"54c8d8de.ac2cc8","name":"Add your Data01","label":"Add Data01","tooltip":"","group":"ec500d21.02ea3","order":8,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":110,"y":180,"wires":[["9bcac8e4.ffd908","821e2eae.2333"]]},{"id":"c6364989.8fe158","type":"ui_text","z":"54c8d8de.ac2cc8","group":"ec500d21.02ea3","order":9,"width":0,"height":0,"name":"","label":"state?","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":180,"wires":[]},{"id":"9bcac8e4.ffd908","type":"ui_gauge","z":"54c8d8de.ac2cc8","name":"","group":"ec500d21.02ea3","order":10,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":80,"wires":[]},{"id":"821e2eae.2333","type":"function","z":"54c8d8de.ac2cc8","name":"","func":"var d1 = flow.get('d1')|| 0;\nd1=msg.payload;\nflow.set(\"d1\",d1)\nmsg.payload={Data01:d1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["9ade4b7.ea1fbb8"]]},{"id":"8c6c2717.06d628","type":"ui_text_input","z":"54c8d8de.ac2cc8","name":"Add your Data01","label":"Add Data02","tooltip":"","group":"ec500d21.02ea3","order":8,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":110,"y":280,"wires":[["b81f898c.026cf8","f1aed606.a56ef8"]]},{"id":"f1aed606.a56ef8","type":"function","z":"54c8d8de.ac2cc8","name":"","func":"var d2 = flow.get('d2')|| 0;\nd2=msg.payload;\nflow.set(\"d2\",d2)\nmsg.payload={Data02:d2}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["9ade4b7.ea1fbb8"]]},{"id":"b81f898c.026cf8","type":"ui_gauge","z":"54c8d8de.ac2cc8","name":"","group":"ec500d21.02ea3","order":10,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":240,"wires":[]},{"id":"ec500d21.02ea3","type":"ui_group","name":"Control Data","tab":"eb7c6ff7.b7d01","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb7c6ff7.b7d01","type":"ui_tab","name":"Google sheet","icon":"dashboard","disabled":false,"hidden":false}]